:root {
    font-family: "Open Sans";
}

h1, h2 {
    font-family: Roboto;
}

#main {
    /*Aligns all three div elements to center*/
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    
}

#img-div {
    /*Aligns img and img-caption to center within their div*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image {
    max-width: 500px;
}

#img-caption {

}

#tribute-info article {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

#tribute-link {

}