:root {
    font-family: "Open Sans";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    font-family: Roboto;
}

h2, h3 {
    margin-bottom: -15px;
}

#main, #img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image {
    max-width: 500px;
}

#tribute-info article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 600px;
}

#tribute-info h3 {
    margin-top: 50px;
}

article p {
    margin-bottom: -10px;
}

footer {
    margin-top: 50px;
}